<h1>Listing futyis</h1>

<table>
  <tr>
    <th>Cim</th>
    <th>Szam</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @futyis.each do |futyi| %>
  <tr>
    <td><%= futyi.cim %></td>
    <td><%= futyi.szam %></td>
    <td><%= link_to 'Show', futyi %></td>
    <td><%= link_to 'Edit', edit_futyi_path(futyi) %></td>
    <td><%= link_to 'Destroy', futyi, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Futyi', new_futyi_path %>
