<p id="notice"><%= notice %></p>

<p>
  <b>Cim:</b>
  <%= @futyi.cim %>
</p>

<p>
  <b>Szam:</b>
  <%= @futyi.szam %>
</p>


<%= link_to 'Edit', edit_futyi_path(@futyi) %> |
<%= link_to 'Back', futyis_path %>
