<p id="notice"><%= notice %></p>

<p>
  <b>Meleg:</b>
  <%= @norbi_meleg.meleg %>
</p>

<p>
  <b>Mennyire:</b>
  <%= @norbi_meleg.mennyire %>
</p>


<%= link_to 'Edit', edit_norbi_meleg_path(@norbi_meleg) %> |
<%= link_to 'Back', norbi_melegs_path %>
